.header {
  &__menu {
    float: right;
    
    &__languages {
      padding: 0 !important;

      .ant-select {
        width: 90px;
      }

      .ant-select-selection {
        border: none;
      }
    }

    &__user-menu {
      padding: 0 20px !important;
    }

    .ant-menu-item {
      padding: 0 25px;
      border: 1px #e8e8e8 solid;

      .anticon {
        margin-right: 0;
      }
    }
  }
}